* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-gray: #2f2e41;
  --light-green: #00bfa6;
  --light-gray: #c2c2c2;
  --white: #fff;
}

body {
  min-height: 100vh;

  background-color: var(--dark-gray);
}

.container {
  width: 1083px;
  margin: 0 auto;
  padding-top: 71px;
}

.container .header {
  margin-bottom: 107px;
}

.container .header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .header .navbar ul {
  list-style: none;
  display: flex;
  gap: 64px;
  margin: 0;
  padding: 0;

  font-weight: 500;
  font-size: 14px;
}

.container .header .navbar ul a {
  text-decoration: none;
  color: var(--white);
}

.container ul,
h1 {
  font-family: "JetBrains Mono", sans-serif;
}

.main {
  display: flex;

  margin-bottom: 157px;
}

.main .text-container {
  display: flex;
  flex-direction: column;

  padding-left: 77px;
}

.main .text-container h1 {
  color: var(--white);
  margin-bottom: 59px;
}

.main .text-container h1 span {
  color: var(--light-green);
}

.main .text-container p {
  color: var(--light-gray);
  text-align: center;
  font-size: 16px;
  font-family: Open Sans;
  line-height: 28px;
}

.main .text-container p strong:last-of-type {
  color: var(--light-green);
}

.footer {
  width: 1083px;
  margin: 0 auto;
  text-align: center;
}

.footer .line {
  width: 568px;
  border-top: 1px solid var(--light-green);
  margin: auto;

  margin-bottom: 27px;
}

.footer p {
  font-family: "JetBrains Mono", sans-serif;

  color: var(--white);
  font-size: 14px;
  font-weight: 500;
}

.footer img {
  position: fixed;
  left: 15px;
  bottom: 20px;
}
